<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Paymill_Paymill::paymill" title="Paymill" sortOrder="60" >
                    <resource id="Paymill_Paymill::adminhtml_log" title="paymill_log" translate="title" sortOrder="10" />
                    <resource id="Paymill_Paymill::adminhmtl_hook" title="Webhooks" translate="title" sortOrder="20" />
                </resource>
                <resource id="Magento_Backend::stores">
	                <resource id="Magento_Backend::stores_settings">
	                    <resource id="Magento_Config::config">
	                        <resource id="Paymill_Paymill::config_paymill" title="Paymill" />
	                    </resource>
	                </resource>
	            </resource>
            </resource>
        </resources>
    </acl>
</config>
